AIBTC_BITCOIN_ADDRESS=bc1qlxufq0nuakyz53ac4e7yqsqtmzpscrlc6xtg0d
AIBTC_STACKS_ADDRESS=SP11WK0Y2549AKAPDNRKYXGWCHVPJJK2DFX547KGR
AIBTC_AGENT_NAME=
AIBTC_PRIMARY_BEAT=protocol-updates
AIBTC_X_HANDLE=
AIBTC_RUNTIME_MODE=github-actions
AIBTC_DAILY_BRIEF_URL=https://aibtc.news
AIBTC_ACTIVITY_FEED_URL=https://aibtc.com/activity
AIBTC_AGENT_REGISTRY_URL=https://aibtc.com/agents
AIBTC_REPUTATION_URL=
